[Unit]
Description=uWSGI instance for the microservice
After=network.target

[Service]
User=www-data
Group=www-data
WorkingDirectory={{ project_path }}
Environment="PATH={{ project_path }}/env/bin"
ExecStart={{ project_path }}/env/bin/uwsgi --ini {{ project_path }}/micro.ini

[Install]
WantedBy=multi-user.target
